html, * {
    font-family: helvetica;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/cat-background.jpg) ;
    background-size: cover;
    background-position: center;
  }


main {
    display: flex;
    flex-direction: row;
    border: 6px solid black;
    
}



#status {
    border: hidden;
    
    font-size: 6vh;
    color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    
}
    
#autoBtn {
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border: hidden;
  background-color: transparent;
  font-size: 20px;

    
}

#autoBtn:hover {
    color: rgb(255, 255, 255);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    
}

#stopAuto {
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
    background-color: transparent;
    padding: 2px;
    border: hidden;
    font-size: 20px;
    

}

#stopAuto:hover {
    color: rgb(255, 255, 255);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;

}

#spinBtn {
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  font-size: 20px;
  border: hidden;
  background-color: transparent;
  justify-content: center;
  
}

#spinBtn:hover {
    color: rgb(255, 255, 255);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

#slots {
    display: flex;
    flex-direction: row;
    
    
}

#s1 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s2 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s3 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s4 {
    height: 100px;
    width: 100px;
    background-size: cover
}

h1 {
    color: rgb(255, 255, 255);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
