html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

main {
    display: flex;
    flex-direction: row;
    border: 6px solid black;
    
}



#status {
    border: 2px solid black;
    background-color: blue;
}
    
#autoBtn {
    background-color: blueviolet;
    padding: 2px;
    border: 1px dashed black;
}

#spinBtn {
    background-color: maroon;
    border: 1px dashed black;
    padding: 2px;

}

#slots {
    display: flex;
    flex-direction: row;
    
    
}

#s1 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s2 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s3 {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-right: 2px solid black
}

#s4 {
    height: 100px;
    width: 100px;
    background-size: cover
}